<nav class="navbar bg-dark navbar-dark navbar-expand-sm">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <div class="navbar-brand">
        <img src="../../assets/images/Young-Lion-icon.png" alt="logo">
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" *ngFor="let elemento of elementi">
            <li class="nav-item">
                <a href="{{elemento.link}}" class="nav-link">{{elemento.title}}</a>
            </li>
        </ul>
    </div>
</nav>