<!-- <div *ngIf='!autenticato'>
    {{ errorMsg }}
</div> -->

<div>
    <label for="userId">User Id:</label>
    <input type="text" id="userId" placeholder="Nome Utente" [(ngModel)] = "userid">
    <!-- <input type="text" id="userId" placeholder="Nome Utente" value = "{{ userId }}"> -->

    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="Password" [(ngModel)] = "password"><!-- Questo è un data binding -->

    <button (click) = gestAut()>Connetti</button><!-- Questo è un secondo  tipo  di data binding -->
</div>
<!-- <div *ngIf='consentito'>{{infoMsg}}</div> -->
<!--<p>La tua UserId è {{ userId }} e la tua password è {{ password }} .</p> --><!-- Questo è il terzo ed ultimo data binding -->