<h1>Articoli Disponibili</h1>

<h3>Alimentari</h3>

<table id="articoli" border="1">
  <thead>
      <tr>
          <th>CodArt</th>
          <th>Descrizione</th>
          <th>Um</th>
          <th>Pezzi</th>
          <th>Peso(KG/LT)</th>
          <th>Prezzo</th>
          <th>Attivo</th>
          <th>Data</th>
      </tr> 
  </thead>
  <tbody>
    <tr *ngFor="let articolo of articoli">
        <td>{{articolo.codArt}}</td>
        <td>{{articolo.descrizione}}</td>
        <td>{{articolo.um}}</td>
        <td>{{articolo.pzcart}}</td>
        <td>{{articolo.peso}}</td>
        <td>{{articolo.prezzo}}</td>
        <td>{{articolo.isactive}}</td>
        <td>{{articolo.data | date}}</td>
    </tr>
  </tbody>
</table>