<div style="text-align:center">
  <h1>
    {{ saluti }}
  </h1>
  <h3>
    {{ titolo2 }}
  </h3>
</div>

<div>
  Ciao {{ utente }}. Clicca <a routerLink="/articoli">qui</a> per vedere gli articoli disponibili.
</div>
